@model EcommerceSW.Web.Model.ProdutoViewModel
@{
    ViewData["Title"] = "Delete";
}
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
        <script src="https://code.jquery.com/jquery-3.3.0.js"
                integrity="sha256-TFWSuDJt6kS+huV+vVlyV1jM3dwGdeNWqezhTxXB/X8="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
        <script>
            $(function () {
                $("#deletar").click(function () {
                    toastr.options = {
                        "timeout": 50000,
                        "positionClass": "toast-top-center"
                    };
                    toastr.warning("Produto apagado com sucesso");
                });
            });
        </script>
    </head>
<h2>Deletar Produto</h2>

<h3>Deseja deletar este Produto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Promocao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Promocao)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <button type="submit" id="deletar" name="deletar" class="btn-danger">Deletar produto</button>
</div>
        <div>
            <p>
                @Html.ActionLink("Voltar para a Lista", "Index")
            </p>
        </div>
    }
</div>

